.app.light {
    --bg-color: rgb(235 235 235);
    --inverted-bg-color: #b7b7b7;
    --primary-color: #000;
    --secondary-color: #5f5f5f;
    --inverted-primary-color: #000;
    --inverted-secondary-color: #5f5f5f;
}
