.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--navbar-height);
    padding: 24px;
    background: var(--inverted-bg-color);
}

.links {
    margin-left: auto;

    a {
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }
}
